### UNSUPERVISED MACHINE LEARNING FOR THE CLASSIFICATION OF ASTROPHYSICAL X-RAY SOURCES

In [4]:
import numpy as np
import pandas as pd

In [5]:
# Put the name of the data here
sim_data = pd.read_csv('gmm10_allvar_0_simbad.csv')

In [6]:
# Adjust the columns depending in the number of clusters
sim_df = sim_data[['col1', 'main_type', 'cluster', 'prob_0', 'prob_1', 'prob_2', 'prob_3', 'prob_4', 'prob_5',
       'prob_6', 'prob_7', 'prob_8', 'prob_9']]
prob_cols = ['prob_0', 'prob_1', 'prob_2', 'prob_3', 'prob_4', 'prob_5',
       'prob_6', 'prob_7', 'prob_8', 'prob_9']

In [7]:
sim_df_clean = sim_df.copy().fillna('NaN')

In [8]:
def create_summary_tables(df):
    tables = []
    for n in np.unique(df.cluster):
        data_n = df[sim_df_clean.cluster == n]
        mean_probs = data_n.groupby(['main_type'])[prob_cols].agg(['mean'])
        count_obs = data_n.groupby(['main_type']).size()
        df_n = pd.concat([mean_probs, count_obs],axis=1)
        df_n = df_n.rename(columns={0:'size'})
        tables.append(df_n)
    return tables

In [9]:
tables = create_summary_tables(sim_df_clean)

In [12]:
# Adjust the number of the cluster that you want to see
cluster = 5
tables[cluster].sort_values(by='size', ascending=False).head(10)

,"(prob_0, mean)","(prob_1, mean)","(prob_2, mean)","(prob_3, mean)","(prob_4, mean)","(prob_5, mean)","(prob_6, mean)","(prob_7, mean)","(prob_8, mean)","(prob_9, mean)",size
main_type,,,,,,,,,,,
NaN,0.0,6.595989e-06,0.003853,0.000292,0.0,0.994469,1.698566e-11,0.001039,1.453530e-12,0.000341,1048
X,0.0,5.837269e-05,0.005288,0.001545,0.0,0.990599,1.617317e-15,0.001038,2.011336e-13,0.001472,518
QSO,0.0,3.075321e-06,0.007793,0.002106,0.0,0.985054,1.451201e-12,0.004395,1.615223e-10,0.000648,494
Star,0.0,5.655070e-06,0.000425,0.000140,0.0,0.998510,2.119556e-16,0.000661,1.076770e-11,0.000259,399
Candidate_XB*,0.0,2.867006e-07,0.008805,0.000085,0.0,0.989376,1.103120e-18,0.001710,9.875158e-12,0.000023,201
Seyfert_1,0.0,1.068174e-04,0.001832,0.000570,0.0,0.992251,6.498771e-17,0.004528,2.995912e-13,0.000712,159
XB,0.0,4.109530e-07,0.003188,0.002364,0.0,0.990644,5.187286e-15,0.000039,1.144250e-08,0.003765,157
GlCl,0.0,4.683071e-06,0.002986,0.000049,0.0,0.996775,2.649626e-18,0.000002,1.371420e-13,0.000184,142
HMXB,0.0,1.420968e-09,0.005180,0.008754,0.0,0.980387,4.128994e-15,0.001760,1.944807e-11,0.003920,135
YSO,0.0,1.555436e-09,0.002671,0.002333,0.0,0.990074,1.439945e-17,0.004915,3.345649e-13,0.000006,132