### UNSUPERVISED MACHINE LEARNING FOR THE CLASSIFICATION OF ASTROPHYSICAL X-RAY SOURCES

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../k-means/astrox_km6_allvar_0.csv", index_col=0)
sim_data = pd.read_csv('../k-means/1618472409092A.csv')

In [3]:
sim_data.sort_values(by='col1')

,angDist,main_id,ra,dec,coo_err_maj,coo_err_min,coo_err_angle,nbref,ra_sexa,dec_sexa,...,i,z,col1,ra.1,dec.1,obsid,name,cluster,silhouette_prob,silhouette
0,0.387334,QSO B2357-3520,0.012187,-35.059058,0.000,0.000,90,9,00 00 02.92483,-35 03 32.6078,...,NaN,NaN,0,0.012318,-35.059068,15712,2CXO J000002.9-350332,2,0.512519,0.025038
1,1.612879,2XMM J000025.4-245421,0.106387,-24.905729,0.000,0.000,90,1,00 00 25.53294,-24 54 20.6242,...,NaN,NaN,3,0.106246,-24.905300,13394,2CXO J000025.4-245419,3,0.547099,0.094198
2,1.225589,ESO 193-8,0.129400,-50.154242,NaN,NaN,172,12,00 00 31.056,-50 09 15.27,...,NaN,NaN,8,0.129721,-50.153970,11997,2CXO J000031.1-500914,5,0.542684,0.085368
3,1.579684,2XMM J000031.8-245501,0.132875,-24.916639,NaN,NaN,172,1,00 00 31.89,-24 54 59.9,...,NaN,NaN,9,0.132773,-24.916210,13394,2CXO J000031.8-245458,2,0.548895,0.097789
4,2.046651,UCAC4 326-000009,0.132975,-24.915672,0.000,0.000,90,16,00 00 31.91408,-24 54 56.4184,...,NaN,NaN,9,0.132773,-24.916210,13394,2CXO J000031.8-245458,2,0.548895,0.097789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47455,2.439415,[RP99] P12,359.660833,-32.619444,NaN,NaN,172,1,23 58 38.6,-32 37 10,...,NaN,NaN,37843,359.661507,-32.619814,14231,2CXO J235838.7-323711,2,0.540412,0.080824
47456,0.014753,NGC 7796,359.749208,-55.458367,NaN,NaN,172,107,23 58 59.810,-55 27 30.12,...,NaN,NaN,37854,359.749203,-55.458364,7061,2CXO J235859.8-552730,3,0.543181,0.086361
47457,0.554088,2MASX J23590436-6054594,359.768188,-60.916503,NaN,NaN,172,119,23 59 04.365,-60 54 59.41,...,NaN,NaN,37857,359.767910,-60.916429,11507,2CXO J235904.2-605459,0,0.521610,0.043221
47458,1.068195,SDSS J235910.69+175846.8,359.794585,17.979705,0.003,0.001,90,4,23 59 10.70045,+17 58 46.9384,...,20.466,20.099,37859,359.794289,17.979611,14894,2CXO J235910.6+175846,3,0.557748,0.115496
47459,0.403303,SDSS J235922.65+181129.7,359.844382,18.191603,NaN,NaN,172,1,23 59 22.652,+18 11 29.77,...,19.448,19.665,37863,359.844351,18.191711,14894,2CXO J235922.6+181130,2,0.543303,0.086605

In [4]:
sim_df = sim_data[['angDist', 'main_type', 'col1', 'ra.1', 'dec.1', 'obsid', 'name', 'cluster', 'silhouette_prob', 'silhouette']]

In [5]:
sim_df_clean = pd.DataFrame(columns=sim_df.columns)
for i in np.unique(sim_df['col1']):
    df_col = sim_df[sim_df.col1 == i]
    if ~df_col.empty:
        dist_argmin = df_col['angDist'].idxmin()
        sim_df_clean.loc[dist_argmin] = df_col.loc[dist_argmin]

In [31]:
sim_df_clean

,angDist,main_type,col1,ra.1,dec.1,obsid,name,cluster,silhouette_prob,silhouette
0,0.387334,QSO,0,0.012318,-35.059068,15712,2CXO J000002.9-350332,2,0.512519,0.025038
1,1.612879,AGN,3,0.106246,-24.905300,13394,2CXO J000025.4-245419,3,0.547099,0.094198
2,1.225589,IG,8,0.129721,-50.153970,11997,2CXO J000031.1-500914,5,0.542684,0.085368
3,1.579684,EmG,9,0.132773,-24.916210,13394,2CXO J000031.8-245458,2,0.548895,0.097789
5,0.575115,Galaxy,15,0.249874,-57.809243,9335,2CXO J000059.9-574833,5,0.582698,0.165396
...,...,...,...,...,...,...,...,...,...,...
47455,2.439415,Galaxy,37843,359.661507,-32.619814,14231,2CXO J235838.7-323711,2,0.540412,0.080824
47456,0.014753,Galaxy,37854,359.749203,-55.458364,7061,2CXO J235859.8-552730,3,0.543181,0.086361
47457,0.554088,Seyfert_2,37857,359.767910,-60.916429,11507,2CXO J235904.2-605459,0,0.521610,0.043221
47458,1.068195,QSO,37859,359.794289,17.979611,14894,2CXO J235910.6+175846,3,0.557748,0.115496
47459,0.403303,QSO,37863,359.844351,18.191711,14894,2CXO J235922.6+181130,2,0.543303,0.086605

In [110]:
data_0 = sim_df_clean[sim_df_clean.cluster == 0]
data_1 = sim_df_clean[sim_df_clean.cluster == 1]
data_2 = sim_df_clean[sim_df_clean.cluster == 2]
data_3 = sim_df_clean[sim_df_clean.cluster == 3]
data_4 = sim_df_clean[sim_df_clean.cluster == 4]
data_5 = sim_df_clean[sim_df_clean.cluster == 5]

In [111]:
sil_mean_std_0 = data_0.groupby(['main_type'])[['silhouette_prob','silhouette']].agg(['mean', 'std'])
count_obj_0 = data_0.groupby(data_0.main_type).size()
df_0 = pd.concat([sil_mean_std_0, count_obj_0],axis=1)
df_0 = df_0.rename(columns={0:'size'})

In [112]:
sil_mean_std_1 = data_1.groupby(['main_type'])[['silhouette_prob','silhouette']].agg(['mean', 'std'])
count_obj_1 = data_1.groupby(data_1.main_type).size()
df_1 = pd.concat([sil_mean_std_1, count_obj_1],axis=1)
df_1 = df_1.rename(columns={0:'size'})

In [113]:
sil_mean_std_2 = data_2.groupby(['main_type'])[['silhouette_prob','silhouette']].agg(['mean', 'std'])
count_obj_2 = data_2.groupby(data_2.main_type).size()
df_2 = pd.concat([sil_mean_std_2, count_obj_2],axis=1)
df_2 = df_2.rename(columns={0:'size'})

In [114]:
sil_mean_std_3 = data_3.groupby(['main_type'])[['silhouette_prob','silhouette']].agg(['mean', 'std'])
count_obj_3 = data_3.groupby(data_3.main_type).size()
df_3 = pd.concat([sil_mean_std_3, count_obj_3],axis=1)
df_3 = df_3.rename(columns={0:'size'})

In [115]:
sil_mean_std_4 = data_4.groupby(['main_type'])[['silhouette_prob','silhouette']].agg(['mean', 'std'])
count_obj_4 = data_4.groupby(data_4.main_type).size()
df_4 = pd.concat([sil_mean_std_4, count_obj_4],axis=1)
df_4 = df_4.rename(columns={0:'size'})

In [116]:
sil_mean_std_5 = data_5.groupby(['main_type'])[['silhouette_prob','silhouette']].agg(['mean', 'std'])
count_obj_5 = data_5.groupby(data_5.main_type).size()
df_5 = pd.concat([sil_mean_std_5, count_obj_5],axis=1)
df_5 = df_5.rename(columns={0:'size'})