# Unsupervised Machine Learning for the Classification of Astrophysical X-ray Sources
###### *Víctor Samuel Pérez Díaz<sup>1,2</sup>, Rafael Martinez-Galarza<sup>1</sup>, Alexander Caicedo-Dorado<sup>3</sup>, Raffaele D'Abrusco<sup>1</sup>*

*1. Center for Astrophysics | Harvard & Smithsonian, 2. Universidad del Rosario, 3. Pontificia Universidad Javeriana*

Contact ```vperezdiaz@cfa.harvard.edu``` for questions or comments.


#### Playground

---

#### Aladin

In [1]:
import pandas as pd
from ipyaladin import Aladin
from umlcaxs_lib import extract_sources_aladin

In [2]:
df_class_confident = pd.read_csv('./out_data/confident_classification.csv').sort_values(by='name')
df_classified_cscs = pd.read_csv('./out_data/classified_cscs.csv', index_col=0).sort_values(by='name')

ltypes = ['QSO', 'AGN', 'Seyfert_1', 'Seyfert_2', 'HMXB', 'LMXB', 'XB', 'YSO', 'TTau*', 'Orion_V*']
agg_types = ['AGN', 'Seyfert', 'XB', 'YSO']

df_class_confident_with_coords = df_class_confident.merge(df_classified_cscs[['name', 'ra', 'dec']].drop_duplicates('name'), on='name', how='left')

In [36]:
#a = Aladin(target='03 38 00 -35 27 00', fov=30, survey='P/allWISE/color')
a = Aladin(target='M33', fov=30, survey='P/allWISE/color')
a

Aladin(fov=30.0, options=['allow_full_zoomout', 'coo_frame', 'fov', 'full_screen', 'log', 'overlay_survey', 'o…

In [29]:
source_type = 'AGN'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name', 'ra', 'dec']])

2322 source detections found of aggregated class AGN

In [30]:
source_type = 'Seyfert'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name', 'ra', 'dec']])

1141 source detections found of aggregated class Seyfert

In [31]:
source_type = 'YSO'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name', 'ra', 'dec']])

2277 source detections found of aggregated class YSO

In [37]:
source_type = 'XB'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name', 'ra', 'dec']])

2525 source detections found of aggregated class XB

In [54]:
df_classified_cscs[df_classified_cscs.name == '2CXO J033829.0-352701'].iloc[:,30:-1]

,dec_sexa,dec_simbad,flux_aper_b,g,gti_elapse,gti_start,gti_stop,hard_hm,hard_hs,hard_ms,...,var_prob_h,var_prob_m,var_prob_s,var_ratio_b,var_ratio_h,var_ratio_s,var_sigma_b,var_sigma_h,var_sigma_m,var_sigma_s
3060,-35 27 01.6960,-35.450471,1.394594e-12,NaN,21569.80016,3.151066e+08,3.151281e+08,-0.563398,-0.899438,-0.682074,...,0.187061,0.300533,0.054615,0.000098,0.088607,0.001371,0.000020,0.001070,0.001061,0.000187
3056,-35 27 01.6960,-35.450471,1.903958e-12,NaN,29619.19989,1.614829e+08,1.615125e+08,-0.555903,-0.888195,-0.657089,...,0.122812,0.026117,0.025330,0.000072,0.011217,0.000318,0.000021,0.000191,0.000006,0.000061
3057,-35 27 01.6960,-35.450471,9.695439e-13,NaN,46279.89991,1.705486e+08,1.705949e+08,-0.619613,-0.911930,-0.669582,...,0.126087,0.018908,0.039496,0.000282,0.020732,0.000722,0.000046,0.000157,0.000008,0.000082
3058,-35 27 01.6960,-35.450471,2.451785e-13,NaN,60108.79978,3.293245e+08,3.293846e+08,-0.568395,-0.893192,-0.659588,...,0.145909,0.043529,0.022539,0.000058,0.011981,0.000112,0.000004,0.000035,0.000008,0.000007
3059,-35 27 01.6960,-35.450471,1.295565e-12,NaN,18542.76935,3.148822e+08,3.149007e+08,-0.580887,-0.911930,-0.704560,...,0.123099,0.034982,0.080846,0.003615,0.008296,0.002591,0.000694,0.000088,0.000051,0.000346
3061,-35 27 01.6960,-35.450471,2.635883e-13,NaN,28162.49702,4.890969e+08,4.891250e+08,-0.517177,-0.865709,-0.629606,...,0.182616,0.042836,0.043698,0.000452,0.019569,0.000851,0.000029,0.000066,0.000017,0.000039

In [46]:
round(df_classified_cscs[df_classified_cscs.name == '2CXO J053615.0-051530'].YSO, 3).std(ddof=0)

0.0

In [38]:
df_class_confident[df_class_confident.name == '2CXO J013324.4+304402']

,name,agg_master_class,master_class,detection_count,Orion_V*,QSO,AGN,Seyfert_1,Seyfert_2,HMXB,LMXB,XB,YSO,TTau*
48,2CXO J013324.4+304402,XB,HMXB,11,0.277±0.172,0.007±0.005,0.024±0.02,0.004±0.002,0.343±0.208,0.376±0.429,0.105±0.057,0.013±0.009,0.135±0.094,0.01±0.004